<p-card header="Realizar Solicitud">
    <div class="formgroup-inline">
        <div class="field">
            <label for="">Nro Sol</label>
            <input type="text" pInputText  />
        </div>
        <div class="field">
            <label for=""> Solicitante:</label>
            <p-dropdown  formControlName="user"  [options]="usuarios"  optionLabel="name"></p-dropdown>
        </div>
        <div class="field">
            <label for=""> Unidad:</label>
            <p-dropdown  formControlName="city"  [options]="usuarios"  optionLabel="name"></p-dropdown>
        </div>
    </div>
    <div class="formgroup-inline">
        <div class="field">
            <label for=""> Tipo de Servicio:</label>
            <p-dropdown  formControlName="city"  [options]="usuarios"  optionLabel="name"></p-dropdown>
        </div>
        <div class="field">
            <label for="">HR:</label>
            <input type="text" pInputText  />
        </div>
        
        <div class="field">
            <label for="">Orden de Compra:</label>
            <input type="text" pInputText  />
        </div>

    </div>
    <div class="formgroup-inline">
        <div class="field">
            <label for=""> Informe de pago</label>
            <input type="text" pInputText  />  <p-button class="pl-2" label="Subir Archivo"> </p-button>
            
        </div>
        <div class="field">
            Documentos Legales:  
        </div>
    </div>
</p-card>