<p-card header="Realizar Solicitud" >
    <p-toast></p-toast>
    <div class="formgrid grid">
        <div class="field col-4">
            <label for="firstname2">Nro Sol</label>
            <input type="text" pInputText class="w-full" formControlName="form.user" disabled  />
        </div>
        <div class="field col-4">
            <label for="lastname2">Solicitante: </label><br>
            <p-dropdown  formControlName="unidades"   [options]="usuarios"  optionLabel="name" styleClass="w-full"></p-dropdown>
        </div>
        <div class="field col-4">
            <label for="lastname2">Unidad:</label><br>
            <p-dropdown  formControlName="unidades"  [options]="unidades"  optionLabel="name" styleClass="w-full"></p-dropdown>
        </div>
        <div class="field col-4">
            <label for="lastname2">Tipo de Servicio:</label><br>
            <p-dropdown  formControlName="servicios"  [options]="servicios"  optionLabel="name" styleClass="w-full"></p-dropdown>
        </div>
        <div class="field col-2">
            <label for="firstname2">Hoja de Ruta</label>
            <input type="text" pInputText class="w-full"  />
        </div>

        <div class="field col-6">
            <label for="firstname2">Orden de Compra</label>
            <input type="text" pInputText class="w-full"  />
        </div>
    </div>


    <p-button class="pl-2" label="Cancelar" styleClass="p-button-secondary"> </p-button>
    <p-button class="pl-2" label="Registrar Solicitud" (click)="registrar()" > </p-button>
    
    <p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}">
        <!-- <div id="html">
            <div class="flex justify-content-center ">
                <h1>Reporte de Solicitud</h1>
            </div>


        </div> -->
    </p-dialog>    
</p-card>